@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&display=swap");

.lobster {
  font-family: "Lobster", cursive;
}

.app {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.light {
  --clr-bg: #fff;
  --clr-bg-alt: #90a4ae;
  --clr-fg: #212121;
  --clr-fg-alt: #eceff1;
  --clr-primary: #23283e;
  --clr-border: #16453f;
  --clr-white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --clr-border: #fff;
  --clr-white: #fff;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

body {
  background-color: var(--clr-bg);
}

.icon {
  color: white;
}

.map-container {
  width: 500px;
  height: 500px;
}
